.carousel{
 padding: 12px 12px;
}
.caro{
}
.slidecaro{
width: 100%;}

.slick-dots li button:before {
    font-size: 20px;
  }
.lvbreakdiv{
   width: 100%;
   height: 20px;
   background-color: transparent;
}
.ant-btn{
  background:transparent!important;
}  