.card619 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; /* adjust height to fit your content */
    border: 3px solid black;
    background: linear-gradient(95.09deg, rgba(226, 148, 36, 0.83) 0%, rgba(106, 241, 209, 0.61) 100%);

  }

  .confirmation {
    text-align: center;
    font-family: 'Habibi';
    padding: 50px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEEEEE;

    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(233, 231, 112, 0.4),
1px 22px 10px rgba(233, 231, 112, 0.4),
1px 25px 35px rgba(233, 231, 112, 0.4),
1px 30px 60px rgba(233, 231, 112, 0.4);
  }

 .message-success{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(233, 231, 112, 0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);


  }

  .explore{
    padding: 20px 0px;
    color: #da9532;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }

