.pep3-text{
  padding-top:25px;
  color:rgb(74 74 74);
  line-height:26px;
  font-size: 16px;
}
.pep4-text{
  padding-top:5px;
  color:rgb(74 74 74);
  line-height:26px;
  padding-left: 32px;
  padding-bottom: 24px;
}
@media (max-width:575px) {
  .pep_top_container{
    margin-left: 0px;
    margin-right: 0px;
  }
  .pep1{
    padding-bottom: 1px;
  }
  .pep3-text{
    padding-top:0px;
    color:rgb(74 74 74);
    line-height:26px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
}


















/* .main-card--cointainer9101 {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1024px));
grid-gap: 20px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
justify-content: space-around;
    background: white;
  }

  @media (max-width: 700px) {
    .main-card--cointainer9101 {
      grid-template-columns: repeat(1, minmax(250px, 1000px));
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }}
  .card-container9101 {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;

  }
  .card9101 {
background-size: cover;
align-items: center;
justify-content: center;
text-align: center;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    max-width: 999px;
    min-width: auto;
  }
  @media (max-width: 700px) {
    .card9101 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-top: 20px;
    }}

  .img9101 {
    max-width: 999px;
    min-width: 200px;
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    background: white;
  }
  @media (max-width: 700px) {
    .img9101 {
      margin-left: 0px;
      margin-right: 0px;
    }}
  .img9101 img{
    width: 100%;
    height: auto;
  }

.img91011 {
    max-width: 999px;
    min-width: 200px;
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    background: white;
padding: 10px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
word-spacing: 0.8px;
display: flex;
align-items: center;
text-align: justify;
letter-spacing: 0.1em;

color: #4a4a4a;
text-align: left;

  }
  @media (max-width: 700px) {
    .img91011 {
      padding: 0px;
      margin-top: -20px;
      margin-left: 0px;
      margin-right: 0px;
    }}

  .main-card--cointainer910head01 {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 2048px));
  margin-left: 20px;
  margin-right: 20px;
  justify-content: left;
    background: white;
  }
  @media (max-width: 700px) {
    .main-card--cointainer910head01 {
      margin-left: 0px;
      margin-right: 0px;
    }}
  .card-container910head01 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

  }

  .card910head01 {
    align-items: left;
    justify-content: left;
    text-align: left;
        background-color: white;
        padding-left: 50px;
        padding-right:50px;
        padding-bottom: 30px;
        padding-top: 30px;
        position: relative;
        max-width: 2300px;
        min-width: auto;
      }
      @media (max-width: 700px) {
        .card910head01 {
          padding-left: 20px;
          padding-right:20px;
          padding-bottom: 10px;
          padding-top: 0px;
        }}

  .PEP1head01{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    word-spacing: 0.8px;
 

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

  
    color: #4a4a4a;
  } */
